{% extends "base.html" %}
{% load static %}
{% load my_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="display2 p-2">现有航司账号</h2>
                        <button type="button" class="btn btn-outline-info m-2" name="query">查询数据</button>
                        <button type="button" class="btn btn-outline-success m-2" name="add" data-toggle="modal"
                                data-target="#add-data">增加数据
                        </button>
                        <button type="button" class="btn btn-outline-primary m-2" name="alter" data-bs-toggle="dropdown"
                                aria-expanded="false">修改数据
                        </button>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item">正在使用</a>
                            <a class="dropdown-item">停止使用</a>
                        </div>
                        <button type="button" class="btn btn-outline-danger m-2" name="delete">删除数据</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-10">
                        <form id="query-form">
                            <div class="row p-2">
                                <div class="col-md-2">
                                    <input type="text" name="username" class="form-control" placeholder="帐号">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="source" class="form-control" placeholder="来源">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="state" class="form-control" placeholder="状态">
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="admin" class="form-control" placeholder="操作人">
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-outline btn-info" name="uncheck">空选</button>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-outline btn-info" name="invert">反选</button>
                    </div>
                </div>


                <div class="row p-2">
                    <div class="col-md-12">
                        <table id="data-table" class="table table-bordered border-success">
                            <thead>
                            <tr>
                                <th class="text-center">id</th>
                                <th class="text-center">账号名称</th>
                                <th class="text-center">账号密码</th>
                                <th class="text-center">创建时间</th>
                                <th class="text-center">使用时间</th>
                                <th class="text-center">状态</th>
                                <th class="text-center">备注</th>
                                <th class="text-center">代理</th>
                                <th class="text-center">账号来源</th>
                                <th class="text-center">操作人</th>
                                <th class="text-center">操作</th>
                            </tr>


                            {% for user in user_ls %}
                                <tr>
                                    {% for i in user %}
                                        <td class="text-center">{{ i | time_format }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            </thead>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="padding-left: 50%;padding-right: 50%;">
                        <div id="page_div" class="btn-group" role="group" aria-label="基本示例">
                            <button type="button" class="btn btn-outline-secondary"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">1</font></font></button>
                            <button type="button" class="btn btn-outline-secondary"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">2</font></font></button>
                            <button type="button" class="btn btn-outline-secondary"><font
                                    style="vertical-align: inherit;"><font
                                    style="vertical-align: inherit;">3</font></font></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="add-data" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">增加数据</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="card">
                    <div class="card-body">
                        <form id="add-form" class="forms-sample">
                            <div class="form-group row">
                                <label for="name"
                                       class="col-sm-3 col-form-label text-right">账号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="name"
                                           placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputEmail2" class="col-sm-3 col-form-label text-right">密码</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="password" placeholder="密码">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="proxy" class="col-sm-3 col-form-label text-right">代理名称</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="proxy" placeholder="代理名称">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="state" class="col-sm-3 col-form-label text-right">状态</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="state"
                                           placeholder="密码">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="source" class="col-sm-3 col-form-label text-right">账号来源</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="source"
                                           placeholder="账号来源">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="remark" class="col-sm-3 col-form-label text-right">备注</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="remark"
                                           placeholder="密码">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" name="add-submit">提交更改</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script src="{% static 'js/airline_user.js' %}" type="text/javascript"></script>
{% endblock %}

